.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navi {
    position: absolute;
    z-index: 3;
    background-color: rgba(red, green, blue, 0.4)
}

ul {
    display: flex !important;
    flex-direction: row !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.title {
    font-weight: 600;
    color: #8BC141;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.container {
    display: flex;
    justify-content: flex-end;
}

p {
    font-family: 'Raleway', sans-serif;
}
.container > li
{
  flex:1 1 auto;
  margin:5px;  /* and that, will result in a 10px gap */
}

@media all and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }

    .container > li {
        flex-basis: 50%;
    }
}

.text {
    width: 65vw;
    margin: 1em;
}

.box {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    border-radius: 1%;
}

img {
    margin: 1em;
}