.modal-mask{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(97,97,97,0.5);
	z-index:10;
	display: none;
}
.modal{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:fixed;
    top:50%;
    left:50%;
    max-width:540px;
    transform:translate(-50%, -50%);
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(117,117,117,0.5)
}
.modal-head{
    padding:10px 15px
}
.modal-head .modal-title{
    font-size:24px
}
.modal-body{
    flex:1;
    padding:30px 15px;
    background:#eee
}
.modal-footer{
    padding:15px
}
.modal-footer>*{
    margin-bottom:0
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tool {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.navi {
	height: 2.5em;
    position: absolute;
	z-index: 3;
	width: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

ul {
    display: flex !important;
    flex-direction: row !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.menuItem {
    font-family: 'Raleway', sans-serif;
}

.menuItemBorder {
    border-bottom: .25em solid #8BC141;
}

.title {
    font-weight: 600;
    color: #8BC141;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.subtitle {
	font-weight: 600;
    color: #FAFAFA;
    font-family: 'Lato', sans-serif;
	font-size: 1em;
	text-decoration-style: solid;
	text-decoration: underline;
	text-decoration-color: #8BC141;
	text-align: center;
}

.container {
    display: flex;
	justify-content: flex-end;
}

p {
    font-family: 'Raleway', sans-serif;
}
.container > li
{
  flex:1 1 auto;
  margin:5px;  /* and that, will result in a 10px gap */
}

@media all and (max-width: 600px) {
    .container {
        flex-wrap: wrap;
    }

    .container > li {
        flex-basis: 50%;
    }
}

.text {
    width: 65vw;
    margin: 1em;
}

.tool-text {
	width: 35vw;
	margin-top: 2.5em;
}

.tool-title {
	margin-top: 2.5em;
}

.box {
    background-color: rgba(69, 69, 69, .75);
    display: flex;
    flex-direction: row;
    border-radius: 2em;
    color: #FAFAFA
}

.toolArrow {
	margin-top: 2.5em;
	position: relative !important;
}

.tool-image {
	width: 65vw;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.tool-box {
	background-color: rgba(69, 69, 69, .75);
    display: flex;
    flex-direction: row;
	color: #FAFAFA;
	height: 100%;
}

.box-text {
    padding: 1vw;
}

img {
    margin: 1em;
}

a:link, a:visited { 
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:link:active, a:visited:active { 
    color: white;
}

.nav-button {
    position: absolute;
}

.button-primary{
    background-color:#8BC141;
    color:#fff;
    border-color:#8BC142;
    font-weight: 500;
    font-size: 1.2em;
}

.button-round{
    border-radius:24px
}

button > span {
    padding: 1em;
}

.tools {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.slide {
    background-size: cover !important;
}

.card{
	font-family: 'Raleway', sans-serif;
	width: 20vw;
    margin:15px;
    padding:30px;
    background:#fff;
    overflow:hidden;
    border-radius:5px;
    box-shadow:0 4px 12px rgba(224,224,224,0.5)
}
.card-title{
    font-size:24px;
    margin-bottom:5px
}
.card-actions{
    display:flex;
    align-items:center;
    list-style:none;
    justify-content:space-around
}

.card-button {
    margin-top: 64px;
}
.card-actions>*{
    margin-bottom:0
}

.cocreation-text {
	width: 20vw;
}

/* First Section Images */
#slide1-1{
    background-image: url("https://changingwinds.files.wordpress.com/2017/12/teams.jpg");
}

#slide1-2{
    background-image: url("https://assets.aspeninstitute.org/content/uploads/2016/06/Team-Unity-Friends-Meeting-Partnership-Concept-000090609447_Large.jpg");
}

#slide1-3{
    background-image: url("https://huberwindowcleaning.com/wp-content/uploads/2016/08/IMG_0212-1917.jpg");
}

#slide1-4{
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*aBX5fZSKhMBe17guY86pOA.png");
}

/* Second Section Images */
#slide2-1{
    background-image: url("http://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/Community-image-1--tojpeg_1493885512973_x2.jpg");
}

#slide2-2{
    background-image: url("http://solacc.edu/sites/default/files/Homepage-small-TG8_0062_0.jpg");
}

#slide2-3{
    background-image: url("https://www.maricopa.edu/sites/default/files/2017-10/phx-community.jpg");
}

#slide2-4{
    background-image: url("https://www.nyrp.org/uploads/gallery/12_Target_Bronx_Gallery1_BANNER_OPT_1.JPG");
}

#slide2-5{
    background-image: url("https://static01.nyt.com/images/2017/03/05/realestate/05BRONXCOV1/05BRONXCOV1-superJumbo.jpg");
}

#slide3-1{
    background-image: url("https://changingwinds.files.wordpress.com/2017/12/teams.jpg");
}

#slide3-2{
    background-image: url("https://assets.aspeninstitute.org/content/uploads/2016/06/Team-Unity-Friends-Meeting-Partnership-Concept-000090609447_Large.jpg");
}

#slide3-3{
    background-image: url("https://huberwindowcleaning.com/wp-content/uploads/2016/08/IMG_0212-1917.jpg");
}

#slide3-4{
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*aBX5fZSKhMBe17guY86pOA.png");
}

#section3 {
    background-image: url("https://yogahealthcoaching.com/wp-content/uploads/2017/08/group-with-hands-together-large.jpg");
}

#capacities0{
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*aBX5fZSKhMBe17guY86pOA.png");
}

#capacities1 {
    background-image: url("https://yogahealthcoaching.com/wp-content/uploads/2017/08/group-with-hands-together-large.jpg");
}